# Dependencies
node_modules/
frontend/node_modules/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
backend/__pycache__/

# Env
.env
.venv/
venv/

# Database
*.db
*.sqlite
*.sqlite3
backend/data.db

# Build output
frontend/dist/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Python virtualenv
pythonenv/
Python/
